@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* font-family: 'Poppins', sans-serif; */
body {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.contauner {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: url("../image/bg.jpg") no-repeat center center;
  background-size: cover;
}

.box {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.5);
  background: url("../image/bg.jpg") no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box1 {
  filter: blur(10px);
}
.box2 {
  clip-path: circle(150px at 0 0);
  transition: 0.1s;
}

.box h2 {
  position: absolute;
  font-size: 15rem;
  color: white;
  transform: translate(0, 0);
  transition: 0.2s;
}

.circie {
  position: absolute;
  left: 0;
  top: 0;
  width: 300px;
  height: 300px;
  margin: -150px 0 0 -150px;
  border: 1px solid white;
  border-radius: 50%;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3);
  transform: translate(0, 0);
  transition: 0.1s;
}
